/*  Lectures.css
    CRUD-Style Application
    Sunday, 17 May, 2015
    Alexander Rhett Crammer  */

div[ng-controller="LectureListController"] .additionForm input:first-of-type, 
div[ng-controller="LectureListController"] .additionForm input, 
div[ng-controller="LectureListController"] .additionForm select, 
div[ng-controller="LectureListController"] .additionForm option {
  color: #000;
  float: left;
  margin: 2.5%;
  width: 45%;
}

div[ng-controller="LectureListController"] .additionForm button {
  clear: both;
  width: 95%;
}