/*  Tasks.css
    CRUD-Style Application
    Saturday, 17 May, 2015
    Alexander Rhett Crammer  */

/* Item Creation Form */
div[ng-controller="TaskViewController"] .additionForm input:first-of-type {
  width: 97.5%;
}

div[ng-controller="TaskViewController"] .additionForm input:nth-of-type(2) {
  float: left;
  margin: 2.5%;
  width: 65%;
}

div[ng-controller="TaskViewController"] .additionForm button {
  margin: 2.5%;
}