<div ng-controller="GroceryListController">
  <form method="post" class="additionForm">
    <input class="form-control" placeholder="Add Grocery..." type="text" ng-model="groceryToCreate">
    <button class="btn btn-success" ng-click="addGrocery(groceryToCreate)">Create</button>
  </form>
  <ul class="list">
    <li ng-repeat="grocery in groceries track by $index">
      <span class="left">{{ grocery.name }}</span>
      <span class="right short hidden">
        <button class="btn btn-danger subtraction-button" ng-click="removeGrocery(grocery.name)">Delete</button>
      </span>
    </li>
  </ul> <!-- .list -->
</div>